<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <main class="main-product">
        <section class="section-product">
            <% for (let i = 0; i < products.length; i++) { %>
            <div class="img-box">
                
                    <img class="product-img" src="/images/<%= products[i].image %>" alt="Foto de Reloj">
            </div>
                
            <article class="product-detail">
                <h3 class = "marcaReloj"> <%= products[i].name %> </h3>

                <p class="short-desc-product"><%= products[i].description %></p>

                <!-- <p class="desc-product">Este es tu nuevo reloj favorito. Cuenta con una caja de acero inoxidable de 38 mm pulido a mano, hecho de un acero de grado extra bajo en carbono que se usa a menudo en aplicaciones marinas debido a su alta resistencia a la corrosi칩n. Una ventana de cristal de zafiro, conocida por su notable dureza (casi tan dura como el diamante) y resistencia a los ara침azos. Las correas, flexibles pero resistentes, est치n hechas 100% con cuero italiano de alta calidad te침ido al vegetal.</p> -->
            
                <!-- <div class = "talle-cantidad">
                    <p>Seleccionar talle</p>
                    <select name = "talle" class="selectorTalle"> <label for="">Talle</label>
                        <option value = "small">Small</option>
                        <option value = "medium">Medium</option>
                        <option value = "large">Large</option>
                    </select>
                </div>
                <br>
                <div class = "cantidad">
                    <p>Cantidad</p>
                    <select name = "cantidad" class = "selectorCantidad">
                        <option value = "SeleccionarCantidad">1</option>
                        <option value = "2">2</option>
                        <option value = "3">3</option>
                        <option value = "4">4</option>
                        <option value = "5">5</option>
                    </select>
                </div> -->

                <div class = "infoPrecio">
                    <h3 class = "precio"><%= products[i].price %></h3>
                    <p class = "cuotasSinInteres"><%= products[i].discount%> </p>
                </div>
            </article>
            <% } %>
        </section>

        <div class = "botonDeCompra">
            <input class ="product-btn" type="submit" value = "Comprar">
        </div>

        <a href="planesDeFinanciacion" class="product-financing">Ver planes de financiacion</a> 
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>