<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main class="main-register">

        <section class="section-register">
            <h2 class="register-txt">Registro</h2>
            <form class="center-register" action="/users/edit/<%= promesaUsuario.idUser %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <!-- NOMBRE -->
                <div><input 
                    type="text"
                    class="inputBusqueda-register <%= locals.errors && errors.name ? 'is-invalid' : null %>"
                    placeholder="<%= promesaUsuario.name %>"
                    name="name"
                    id="name"
                    value="<%= locals.oldData ? oldData.name : null %>"></div>
                    <% if (locals.errors && errors.name) { %>
                        <div class="text-danger">
                            <%= errors.name.msg %>
                        </div>
                    <% } %>
                    <p id="errores-name"></p>
                <!-- APELLIDO -->
                <div><input
                    type="text"
                    class="inputBusqueda-register <%= locals.errors && errors.lastname ? 'is-invalid' : null %>"
                    placeholder="<%= promesaUsuario.lastName %>"
                    name="lastName"
                    id="lastName"
                    value="<%= locals.oldData ? oldData.lastName : null %>"></div>
                    <% if (locals.errors && errors.lastName) { %>
                        <div class="text-danger">
                            <%= errors.lastName.msg %>
                        </div>
                    <% } %>
                    <p id="errores-lastName"></p>
                <!-- MAIL -->
                <div><input
                    type="email"
                    class="inputBusqueda-register <%= locals.errors && errors.mail ? 'is-invalid' : null %>"
                    placeholder="<%= promesaUsuario.mail%>"
                    name="mail"
                    id="mail"
                    value="<%= locals.oldData ? oldData.mail : null %>"></div>
                    <% if (locals.errors && errors.mail) { %>
                        <div class="text-danger">
                            <%= errors.mail.msg %>
                        </div>
                    <% } %>
                    <p id="errores-mail"></p>
                <!-- DNI -->
                <div><input
                    type="number"
                    class="inputBusqueda-register <%= locals.errors && errors.dni ? 'is-invalid' : null %>"
                    placeholder="<%= promesaUsuario.dni %>"
                    name="dni"
                    id="dni"
                    value="<%= locals.oldData ? oldData.dni : null %>"></div>
                    <% if (locals.errors && errors.dni) { %>
                        <div class="text-danger">
                            <%= errors.dni.msg %>
                        </div>
                    <% } %>
                    <p id="errores-dni"></p>
                <!-- DIRECCION -->
                <div><input
                    type="text"
                    class="inputBusqueda-register <%= locals.errors && errors.address ? 'is-invalid' : null %>"
                    placeholder="<%= promesaUsuario.address %>"
                    name="address"
                    id="address"
                    value="<%= locals.oldData ? oldData.address : null %>"></div>
                    <% if (locals.errors && errors.address) { %>
                        <div class="text-danger">
                            <%= errors.address.msg %>
                        </div>
                    <% } %>
                    <p id="errores-address"></p>
                <!-- CONTRASEÑA -->
                <!-- <div><input
                    type="password"
                    class="inputBusqueda-register <%= locals.errors && errors.password ? 'is-invalid' : null %>"
                    placeholder=""
                    name="password"
                    id="password"
                    value="<%= locals.oldData ? oldData.password : null %>"></div>
                    <% if (locals.errors && errors.password) { %>
                        <div class="text-danger">
                            <%= errors.password.msg %>
                        </div>
                    <% } %>
                    <p id="errores-password"></p> -->
                <!-- IMAGEN -->
                <!-- <div class="inputBusqueda-input">
                    <input class="input-register <%= locals.errors && errors.image ? 'is-invalid' : null %>" type="file" class="inputBusqueda" placeholder="image" name="image" id=" ">
                        <img src="/images/users/<%= promesaUsuario.image %>" alt="">
                    </input>
                </div>
                    <% if (locals.errors && errors.image) { %>
                        <div class="text-danger">
                            <%= errors.image.msg %>
                        </div>
                    <% } %> -->
                <br></br>
                <div><input type="submit" value="Enviar" class="send-btn-register" id="boton"></div>
            </form>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>