<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main class="main-register">

        <section class="section-register">
            <h2 class="profile-txt">Editar perfil</h2>
            <br>
            <form class="width-registro" action="/users/edit/<%= locals.oldData ? userFind : promesaUsuario.idUser %>?_method=PUT" id="editValidator" method="POST" enctype="multipart/form-data">
                
                <!-- IMAGEN -->
                <div class="img-upload">
                    <img src="/images/users/<%= user.image %>" alt="profile picture">
                    <div class="round">
                      <input name="image" class="inputfile" type="file">
                      <i class = "fa-solid fa-plus"></i>
                    </div>
                </div>

                <!-- NOMBRE -->
                <div class="divGrupo" id="grupo-name">
                    <div class="formGrupoInput">
                    <p class="desc-ep">Nombre</p>
                    <input 
                    type="text"
                    class="formInput"
                    name="name"
                    id="name"
                    value="<%= locals.oldData ? oldData.name : promesaUsuario.name %>">
                    <i class="formValidacion-estado fas fa-times-circle"></i>
                    </div>

                    <% if (locals.errors && errors.name) { %>
                        <div class="text-danger">
                            <%= errors.name.msg %>
                        </div>
                    <% } %>

                    <p class="formError">El nombre debe tener al menos dos caracteres y no puede incluir numeros</p>
                </div>

                <!-- APELLIDO -->
                <div class="divGrupo" id="grupo-lastName">
                    <div class="formGrupoInput">
                    <p class="desc-ep">Apellido</p>
                    <input
                    type="text"
                    class="formInput"
                    name="lastName"
                    id="lastName"
                    value="<%= locals.oldData ? oldData.lastName : promesaUsuario.lastName %>">
                    <i class="formValidacion-estado fas fa-times-circle"></i>
                    </div>

                    <% if (locals.errors && errors.lastName) { %>
                        <div class="text-danger">
                            <%= errors.lastName.msg %>
                        </div>
                    <% } %>
                    
                    <p class="formError">El apellido debe tener al menos dos caracteres y no puede incluir numeros</p>
                </div>

                <!-- DIRECCION -->
                <div class="divGrupo" id="grupo-address">
                    <div class="formGrupoInput">
                    <p class="desc-ep">Direccion</p>
                    <input
                    type="text"
                    class="formInput"
                    name="address"
                    id="address"
                    value="<%= locals.oldData ? oldData.address : promesaUsuario.address %>">
                    <i class="formValidacion-estado fas fa-times-circle"></i>
                    </div>

                    <% if (locals.errors && errors.address) { %>
                        <div class="text-danger">
                            <%= errors.address.msg %>
                        </div>
                    <% } %>

                    <p class="formError">Ingrese una dirección válida</p>
                </div>

                <div><input type="submit" value="Enviar" class="send-btn-register" id="boton"></div>
            </form>
        </section>
    </main>

    <%- include('../partials/footer.ejs') %>

    <script src="/js/userValidator.js"></script>
</body>
</html>