<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>

    <main class="main-login">
        <section class="section-login">
            <h1 class="title-login">Iniciar sesion</h1> 
            <form action="/users/login" method="POST">
                <!-- <div> <input name="mail" type="text" class="inputBusqueda-login" placeholder="Email"> </div>
                <div> <input name="password" type="text" class="inputBusqueda-login" placeholder="Password"> </div>  -->
                <input name="mail" type="text" class="inputBusqueda-login" placeholder="Email" value="<%= locals.oldData ? oldData.mail : null %>"> <br>
                <% if (locals.errors && errors.mail) { %>
                    <div class="text-danger1">
                        <%= errors.mail.msg %>
                    </div>
                <% } %>
            
                
                <input name="password" type="password" class="inputBusqueda-login" placeholder="Password">
                <% if (locals.errors && errors.password) { %>
                    <div class="text-danger1">
                        <%= errors.password.msg %>
                    </div>
                <% } %> 

                <div><input type="submit" value="Iniciar Sesión" class="send-btn-login"></div>

                <input type="checkbox" class="recordarme" name="recordarme" value="recordarme">Recordarme

                <div class="text-login">¿No tenes cuenta? <a href="/users/registro">Registrate</a></div>
                <div class="text-login-end"> ¿Olvidó su password? </div>
            </form>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>