<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>

    <main class="main-login">
        <section class="section-login">
            <h1 class="title-login">Iniciar sesion</h1> 
            <form action="/users/login" method="POST" id="loginValidator" class="width-login">
                
                <div class="divGrupo" id="grupo-mail">
                    <input name="mail" type="text" class="formInput" id="inputBusqueda-login" placeholder="Email" value="<%= locals.oldData ? oldData.mail : null %>" required>
                    <i class="loginValidator-estado fas fa-times-circle"></i>
                    <% if (locals.errors && errors.mail) { %>
                        <div class="text-danger">
                            <%= errors.mail.msg %>
                        </div>
                    <% } %>
                    <p class="loginError">Ingrese un formato de email válido</p>
                </div>
               <div class="divGrupo" id="grupo-password"></div> 
                    <input name="password" type="password" class="formInput" id="inputBusqueda-login2" placeholder="Password" required>
                    
                    <% if (locals.errors && errors.password) { %>
                        <div class="text-danger">
                            <%= errors.password.msg %>
                        </div>
                    <% } %> 
                    
                </div>
                <div><input type="submit" value="Iniciar Sesión" class="send-btn-login"></div>

                <input type="checkbox" class="recordarme" name="recordarme" value="recordarme"> <span class="span-recordar">Recordarme</span>

                <div class="text-login">¿No tenes cuenta? <a href="/users/registro">Registrate</a></div>
            </form>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>
    <script src="/js/loginValidator.js"></script>
</body>
</html>