<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="contenedorProfile">
        <div class="divCardProfile">
        
            <h2>Perfil de usuario</h2>
            <hr class="hrProfile">
            <p> Bienvenido <%= user.name %> </p>

            <img src="/images/users/<%= user.image %>" alt="profile picture" class="profile-pic">
            <div>
                <a href="/users/edit/<%= user.idUser %>"><input type='button' name="edit" id="editProfile" class="logoutProfile" value="EDITAR USUARIO"></a>
            </div>
            <div>
                <a href="/users/logout"><input type='button' name="logout" id="logoutProfile" class="logoutProfile" value="CERRAR SESION"></a>
            </div>
        </div>
    
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>
