<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <h2>Perfil de usuario</h2>
    <p> Hola <%= user.name %> <p>

    <img src="/images/users/<%= user.image %>" alt="profile picture" class="profile-pic">
    <%- include('../partials/footer.ejs') %>
</body>
</html>