<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main class="main-register">

        <section class="section-register">
            <h2 class="register-txt">Registro</h2>
            <form class="center-register" action="/users" method="POST" enctype="multipart/form-data" id="formValidacion">
                <!-- NOMBRE -->
                <div class="divGrupo" id="grupo-name">
                    <div class="formGrupoInput">
                    <input 
                    type="text"
                    class="formInput"
                    placeholder="Nombre"
                    name="name"
                    id="name"
                    value="<%= locals.oldData ? oldData.name : null %>">
                    <i class="formValidacion-estado fas fa-times-circle"></i>
                    </div>
               
                    <% if (locals.errors && errors.name) { %>
                        <div class="text-danger">
                            <%= errors.name.msg %>
                        </div>
                    <% } %>
                    <p class="formError">El nombre debe tener al menos dos caracteres y no puede incluir numeros</p>
                </div>
                <!-- APELLIDO -->
                <div class="divGrupo" id="grupo-lastName">
                    <div class="formGrupoInput">
                    <input
                    type="text"
                    class="formInput"
                    placeholder="Apellido"
                    name="lastName"
                    id="lastName"
                    value="<%= locals.oldData ? oldData.lastName : null %>">
                    <i class="formValidacion-estado fas fa-times-circle"></i>
                    </div>
                    <% if (locals.errors && errors.lastName) { %>
                        <div class="text-danger">
                            <%= errors.lastName.msg %>
                        </div>
                    <% } %>
                    <p class="formError">El apellido debe tener al menos dos caracteres y no puede incluir numeros</p>
                </div>
                <!-- MAIL -->
                <div class="divGrupo" id="grupo-mail">
                    <div class="formGrupoInput">
                    <input
                    type="email"
                    class="formInput"
                    placeholder="Mail"
                    name="mail"
                    id="mail"
                    value="<%= locals.oldData ? oldData.mail : null %>">
                    <i class="formValidacion-estado fas fa-times-circle"></i>
                    </div>
                    <% if (locals.errors && errors.mail) { %>
                        <div class="text-danger">
                            <%= errors.mail.msg %>
                        </div>
                    <% } %>
                    <p class="formError">Ingrese un formato de email válido</p>
                </div>
                <!-- DNI -->
                <div class="divGrupo" id="grupo-dni">
                    <div class="formGrupoInput">
                    <input
                    type="number"
                    class="formInput"
                    placeholder="DNI"
                    name="dni"
                    id="dni"
                    value="<%= locals.oldData ? oldData.dni : null %>">
                    <i class="formValidacion-estado fas fa-times-circle"></i>
                    </div>
                    <% if (locals.errors && errors.dni) { %>
                        <div class="text-danger">
                            <%= errors.dni.msg %>
                        </div>
                    <% } %>
                    <p class="formError">Ingrese un DNI valido sin puntos</p>
                </div>
                <!-- DIRECCION -->
                <div class="divGrupo" id="grupo-address">
                    <div class="formGrupoInput">
                    <input
                    type="text"
                    class="formInput"
                    placeholder="Dirección"
                    name="address"
                    id="address"
                    value="<%= locals.oldData ? oldData.address : null %>">
                    <i class="formValidacion-estado fas fa-times-circle"></i>
                    </div>
                    <% if (locals.errors && errors.address) { %>
                        <div class="text-danger">
                            <%= errors.address.msg %>
                        </div>
                    <% } %>
                    <p class="formError">Ingrese una dirección válida</p>
                </div>
                <!-- CONTRASEÑA -->
                <div class="divGrupo" id="grupo-password">
                    <div class="formGrupoInput">
                    <input
                    type="password"
                    class="formInput"
                    placeholder="Contraseña"
                    name="password"
                    id="password"
                    value="<%= locals.oldData ? oldData.password : null %>">
                    <i class="formValidacion-estado fas fa-times-circle"></i>
                    </div>
                    <% if (locals.errors && errors.password) { %>
                        <div class="text-danger">
                            <%= errors.password.msg %>
                        </div>
                    <% } %>
                    <p class="formError">La contraseña debe tener al menos 8 caracteres, y debe incluir una mayúscula, una minúscula, un número y un caracter especial</p>
                </div>
                <div class="divGrupo" id="grupo-password2">
                    <div class="formGrupoInput">
                    <input
                    type="password"
                    class="formInput"
                    placeholder="Repetir contraseña"
                    name="password"
                    id="password2"
                    value="<%= locals.oldData ? oldData.password : null %>">
                    <i class="formValidacion-estado fas fa-times-circle"></i>
                    </div>
                    <% if (locals.errors && errors.password) { %>
                        <div class="text-danger">
                            <%= errors.password.msg %>
                        </div>
                    <% } %>
                    <p class="formError">Debe coincidir con la contraseña</p>
                </div>
                <!-- IMAGEN -->
                <div class="divGrupo" id="grupo-address">
                    <div class="formGrupoInput">
                    <input 
                    class="formInput <%= locals.errors && errors.image ? 'is-invalid' : null %>" 
                    type="file" accept=".png, .jpg, .jpeg" 
                    class="inputBusqueda" 
                    placeholder="image" 
                    name="image" 
                    id="image">
                    </div>
                    <% if (locals.errors && errors.image) { %>
                        <div class="text-danger">
                            <%= errors.image.msg %>
                        </div>
                    <% } %>
                <br></br>
                <div><input type="submit" value="Enviar" class="send-btn-register" id="boton"></div>
            </form>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>
    <script src="/js/registerValidator.js"></script>
    
</body>
</html>