<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main class="main-register">
        <section class="section-register">
            <h2 class="product-edit-title">Editar <%=promesaProducto.name %></h2>

            <div class="box-img">
                <img class="img-pl" src="/images/products/<%= promesaImagen.name %>" alt="Foto de Reloj">
            </div>

            <form class="center-register" method="POST" action="/products/<%= promesaProducto.idProduct %>/edit?_method=PUT" >
                <!-- <button class="botonEditar-2"> 
                    <input class="fa-solid fa-folder-plus" type="file" name="image" id="image" > <span>Edit Picture</span>
                </button> -->

                <br></br>

                <div class="detail-box">
                    <p class="desc-pl">Nombre:</p>
                    <input class="inputBusqueda-prodlist" type="text"  name="name" id="name" value="<%= promesaProducto.name %>" >
                </div>

                <!-- <div class="detail-box">
                    <p class="desc-pl">Breve descripción:</p>
                    <input class="inputBusqueda-prodlist" type="text" name="short_descriptio" id="short_descriptio" value="<%= promesaProducto.description %>" >
                </div> -->

                <div class="detail-box">
                    <p class="desc-pl">Descripción:</p>
                    <input class="inputBusqueda-prodlist" type="text" name="description" id="description" value="<%= promesaProducto.description %>" >
                </div>

                <div class="detail-box">
                    <p class="desc-pl">Precio:</p>
                    <input class="inputBusqueda-prodlist" type="number"  name="price" id="price" value="<%= promesaProducto.price %>">
                </div>

                <div class="detail-box">
                    <p class="desc-pl">Categoria:</p>
                    <input class="inputBusqueda-prodlist" type="tel"  name="category" id="category" value="<%= promesaProducto.category %>">
                </div>
                
                <div><input type="submit" value="Confirmar Cambios" class="send-btn-register"></div>
        
            </form>
        </section>
    </main>

    <%- include('../partials/footer.ejs') %>
</body>
</html>