<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main class="main-product">
        <section class="section-product">
            
            <div class="img-box">
                
                <img class="product-img" src="/images/products/<%= promesaImagen.name %>" alt="Foto Imagen">
            </div>
                
            <article class="product-detail">
                <h3 class = "marcaReloj"> <%= promesaProducto.name %> </h3>

                <p class="desc-product"><%= promesaProducto.description %></p>
                            
                <div class = "cantidad">
                    <p>Cantidad</p>
                    <select name = "cantidad" class = "selectorCantidad">
                        <option value = "SeleccionarCantidad">1</option>
                        <option value = "2">2</option>
                        <option value = "3">3</option>
                        <option value = "4">4</option>
                        <option value = "5">5</option>
                    </select>
                </div>

                </div>

                <div class="botones">
                    <% if (locals.isLogged) { %>
                    <div class="box-prod-detail-btn">
                            <button class ="product-btn-buy" type="submit" id="btnComprarProduct"> Comprar </button> 
                    </div>
                    <% } %>
                    <% if (locals.isLogged) { %>
                    <br>
                    <div class="edit-delete">
                        <div class="divDelete">
                            <form class = "botonDeCompra" method="" action="/products/<%= promesaProducto.idProduct %>/edit" >
                                <button class ="product-btn" type="submit" > Edit </button> 
                            </form>
                        </div>
                        <% } %>
                        <% if (locals.isLogged) { %>
                            <br>
                        <div class="divDelete">
                            <form class = "botonDeCompra" method="POST" action="/products/delete/<%= promesaProducto.idProduct %>?_method=DELETE" >
                                <button class ="product-btn" type="submit" > Delete </button> 
                            </form>
                        </div>
                        <% } %>
                    </div>
                </div>

            </article>

            </div>
        </section>

    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>