<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main class="main-register">
        <section class="section-register">
            <h2 class="product-edit-title">Editar</h2>

            <div class="box-img">

            </div>

            <form class="width-registro" method="POST" action="/products/<%= locals.oldData ? idProduct : promesaProducto.idProduct %>/edit?_method=PUT" id="productsValidator" enctype="multipart/form-data">

                <div class="box-img">
                    <img class="img-pl2" src="/images/products/<%= promesaImagen.name %>" alt="Foto de Reloj">
                </div>

                <br></br>

                <div>
                    <p class="desc-ep">Nombre:</p>
                    <div class="divGrupo" id="grupo-name">
                        <input class="formInput" type="text"  name="name" id="name" value="<%= locals.oldData ? oldData.name : promesaProducto.name %>">
                        <i class="productEditValidacion-estado fas fa-times-circle"></i>
                        <p class="productError">El nombre debe tener al menos cinco caracteres y no puede incluir numeros</p>
                    </div>
                    <% if (locals.errors && errors.name) { %>
                        <div class="text-danger">
                            <%= errors.name.msg %>
                        </div>
                    <% } %>
                </div>

                <div>
                    <p class="desc-ep">Descripción:</p>
                    <div class="divGrupo" id="grupo-description">
                        <input class="formInput" type="text" name="description" id="description" value="<%= locals.oldData ? oldData.description : promesaProducto.description %>">
                        <i class="productEditValidacion-estado fas fa-times-circle"></i>
                        <p class="productError">La descripcion debe tener al menos 20 caracteres</p>
                    </div>

                    <% if (locals.errors && errors.description) { %>
                        <div class="text-danger">
                            <%= errors.description.msg %>
                        </div>
                    <% } %>
                </div>

                <div>
                    <p class="desc-ep">Precio:</p>
                    <div class="divGrupo" id="grupo-price">
                        <input class="formInput" type="number"  name="price" id="price" value="<%= locals.oldData ? oldData.price : promesaProducto.price %>">
                        <i class="productEditValidacion-estado fas fa-times-circle"></i>
                        <p class="productError">Utilice el "." como separador decimal</p>
                    </div>

                    <% if (locals.errors && errors.price) { %>
                        <div class="text-danger">
                            <%= errors.price.msg %>
                        </div>
                    <% } %>
                </div>

                <br>

                <div>
                    <p class="desc-ep">Seleccione Categoría</p>
                    <select class="formInput" type="text" placeholder="Categoria" name="category" id="category">
                        <option value="1" > Tinker </option>
                        <option value="2" > Jaquet Droze </option>
                        <option value="3" > Center Pompidou </option>
                        <option value="4" > Colors of Nature </option>
                    </select>

                    <% if (locals.errors && errors.category) { %>
                        <div class="text-danger">
                            <%= errors.category.msg %>
                        </div>
                    <% } %>
                </div>

                <div><input class="formInput-edit" type="file" placeholder="image" name="image" id="image"></div>
                <br>
                <div><input type="submit" value="Confirmar Cambios" class="send-btn-register"></div>

            </form>
        </section>
    </main>

    <%- include('../partials/footer.ejs') %>
    <script src="/js/productsValidator.js"></script>
</body>
</html>