<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>

        <div class="container">

            <h2 class="prodlist-txt">Todos los productos</h2>

            <div class="products-container">

            <% for (let i = 0; i < producto.length; i++) { %>

                <section class="product">
                    
                    <a href="/products/<%= producto[i].id %>" class="ref-link">
                    <div class="box-image">
                 
                        <img src="/images/<%= imagen[i].name %>" alt="Foto Reloj" class="img-pl">
                    
                    </div>
                    <article>
                        <p class="product-name"><%= producto[i].name %></p>
                        <p class="product-price">$<%= producto[i].price %></p>
                        <p class=""><%= producto[i].description %></p>
                    </article>
                    </a>
                </section>

            <% } %>
            </div>
        
        </div>

    </main>
    
    <%- include('../partials/footer.ejs') %>
</body>
</html>