<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>

        <div class="container">

            <h2 class="prodlist-txt">Todos los productos</h2>

            <div class="products-container">

            <% for (let i = 0; i < products.length; i++) { %>

                <section class="product">
                    <a href="/products/<%= products[i].id %>" class="ref-link">
                    <div class="box-image">
                        <img src="/images/<%= products[i].image %>" alt="imagen de producto" class="img-pl">
                    </div>
                    <article>
                        <p class="product-name"><%= products[i].name %></p>
                        <p class="product-price">$<%= products[i].price %></p>
                        <p class="short-description-hover"><%= products[i].short_description %></p>
                    </article>
                    </a>
                </section>

            <% } %>
            </div>
        
        </div>

    </main>
    
    <%- include('../partials/footer.ejs') %>
</body>
</html>