<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main class="main-product">
        <section class="section-product">
            
            <div class="img-box">
                
                <img class="product-img" src="/images/products/<%= promesaImagen.name %>" alt="Foto Imagen">
            </div>
                
            <article class="product-detail">
                <h3 class = "marcaReloj"> <%= promesaProducto.name %> </h3>


                <p class="desc-product"><%= promesaProducto.description %></p>
            
                <div class = "talle-cantidad">
                    <p>Seleccionar talle</p>
                    <select name = "talle" class="selectorTalle"> <label for="">Talle</label>
                        <option value="" disabled selected>- Seleccione talle - </option>
                        <% promesaTalle.forEach(categoria => { %>
                            <option value="<%= categoria.idCategory %>">
                                <%= categoria.name %>
                            </option>
                        <% }); %>
                    </select>
                </div>
                <br>
                <div class = "cantidad">
                    <p>Cantidad</p>
                    <select name = "cantidad" class = "selectorCantidad">
                        <option value = "SeleccionarCantidad">1</option>
                        <option value = "2">2</option>
                        <option value = "3">3</option>
                        <option value = "4">4</option>
                        <option value = "5">5</option>
                    </select>
                </div>

    
               
                </div>
                <% if (locals.isLogged) { %>
                <div class="box-prod-detail-btn">
                        <button class ="product-btn" type="submit" id="btnComprarProduct"> Comprar </button> 
                </div>
                <% } %>
            <div class="divDelete">
                <form class = "botonDeCompra" method="POST" action="/products/delete/<%= promesaProducto.idProduct %>?_method=DELETE" >
                    <button class ="product-btn" type="submit" > Delete </button> 
                </form>
            </div>

            </article>

           
    


            </div>
        </section>

    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>