<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main class="main-product">
        <section class="section-product">
            
            <div class="img-box">
                
                <img class="product-img" src="/images/<%= detalle.image %>" alt="Foto de Reloj">
            </div>
                
            <article class="product-detail">
                <h3 class = "marcaReloj"> <%= detalle.name %> </h3>

                <p class="short-desc-product"> <%= detalle.short_description %> </p>

                <p class="desc-product"><%= detalle.description %></p>
            
                <div class = "talle-cantidad">
                    <p>Seleccionar talle</p>
                    <select name = "talle" class="selectorTalle"> <label for="">Talle</label>
                        <option value = "small">Small</option>
                        <option value = "medium">Medium</option>
                        <option value = "large">Large</option>
                    </select>
                </div>
                <br>
                <div class = "cantidad">
                    <p>Cantidad</p>
                    <select name = "cantidad" class = "selectorCantidad">
                        <option value = "SeleccionarCantidad">1</option>
                        <option value = "2">2</option>
                        <option value = "3">3</option>
                        <option value = "4">4</option>
                        <option value = "5">5</option>
                    </select>
                </div>

                <!-- <div class = "infoPrecio">
                    <h3 class = "precio"><%= detalle.price %></h3>
                    <p class = "cuotasSinInteres"><%= detalle.discount%> </p>
                </div> -->

                <div class="pbox-prod-detail-btn">
                    <div class="box-prod-detail-btn">
                        <form class= "product-btn">
                            <a href="/products/<%= detalle.id %>/edit" class="product-btn-detail">Editar producto</a>
                        </form>
                    </div>

                    <br>

                    <div class="box-prod-detail-btn">
                        <form class = "botonDeCompra" method="POST" action="/products/delete/<%= detalle.id %>?_method=DELETE" >
                            <button class ="product-btn" type="submit" > Delete </button> 
                        </form>
                    </div>
                </div>

            </article>
<!-- 
            <form action="POST" method="delete/id?_method=DELETE" enctype="multipart/form-data">
                <input class ="product-btn" type="submit" value = "Borrar">
            </form> -->

        </div>
        </section>

        <!-- <a href="planesDeFinanciacion" class="product-financing">Ver planes de financiacion</a>  -->
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>