<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main class="main-register">
        <section class="section-register"></section>
            <h2 class="product-add-title">Agregar Item</h2>
            <form class="center-register" action="/products" method="POST" enctype="multipart/form-data">
                <div><input class="inputBusqueda-add" type="text" placeholder="Nombre del Producto" name="name" id="name" value="<%= locals.oldData ? oldData.name : null %>">
                    <% if (locals.errors && errors.name) { %>
                        <div class="text-danger">
                            <%= errors.name.msg %>
                        </div>
                    <% } %>
                    <p id="errores-name"></p>
                </div>

                <div><input class="inputBusqueda-add" type="text"  placeholder="Descripción del Producto" name="description" id="description" value="<%= locals.oldData ? oldData.description : null %>">
                    <% if (locals.errors && errors.description) { %>
                        <div class="text-danger">
                            <%= errors.description.msg %>
                        </div>
                    <% } %>
                    <p id="errores-description"></p>
                </div>

                <div><input class="inputBusqueda-add" type="number" placeholder="Precio" name="price" id="price" value="<%= locals.oldData ? oldData.price : null %>">
                    <% if (locals.errors && errors.price) { %>
                        <div class="text-danger">
                            <%= errors.price.msg %>
                        </div>
                    <% } %>
                    <p id="errores-price"></p>
                </div>

                <div><select class="inputBusqueda-add" type="text" placeholder="Categoria" name="category" id="category">

                    <option value="" disabled selected>- Seleccione Categoría - </option>
                    <option value="1" > Center Pompidou </option>
                    <option value="2" > Jaquet Droze </option>
                    <option value="3" > Tinker </option>

                    </select>

                    <% if (locals.errors && errors.category) { %>
                        <div class="text-danger">
                            <%= errors.category.msg %>
                        </div>
                    <% } %>
                    <p id="errores-price"></p>

                </div>
                <div><input class="inputBusqueda-add" type="file" placeholder="image" name="image" id="image"></div>
                <br></br>
                <div><input type="submit" value="Save" class="send-btn-register"></div>
            </form>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>
    <script></script>
</body>
</html>