<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main class="main-register">
        <section class="section-register">
            <h2 class="product-edit-title">Editar <%=promesaProducto.name %></h2>

            <div class="box-img">
                <img class="img-pl" src="/images/products/<%= promesaImagen.name %>" alt="Foto de Reloj">
            </div>

            <form class="center-register" method="POST" action="/products/<%= promesaProducto.idProduct %>/edit?_method=PUT" id="productsValidator">

                <br></br>

                <div class="detail-box">
                    <p class="desc-pl">Nombre:</p>
                    <div class="divGrupo" id="grupo-name">
                        <input class="inputBusqueda-prodlist" type="text"  name="name" id="name" value="<%= promesaProducto.name %>" >
                        <i class="productEditValidacion-estado fas fa-times-circle"></i>
                        <p class="productError">El nombre debe tener al menos cinco caracteres y no puede incluir numeros</p>
                    </div>
                </div>

                <!-- <div class="detail-box">
                    <p class="desc-pl">Breve descripción:</p>
                    <input class="inputBusqueda-prodlist" type="text" name="short_descriptio" id="short_descriptio" value="<%= promesaProducto.description %>" >
                </div> -->

                <div class="detail-box">
                    <p class="desc-pl">Descripción:</p>
                    <div class="divGrupo" id="grupo-description">
                        <input class="inputBusqueda-prodlist" type="text" name="description" id="description" value="<%= promesaProducto.description %>" >
                        <i class="productEditValidacion-estado fas fa-times-circle"></i>
                        <p class="productError">La descripcion debe tener al menos 20 caracteres</p>
                    </div>
                </div>

                <div class="detail-box">
                    <p class="desc-pl">Precio:</p>
                    <div class="divGrupo" id="grupo-price">
                        <input class="inputBusqueda-prodlist" type="number"  name="price" id="price" value="<%= promesaProducto.price %>">
                        <i class="productEditValidacion-estado fas fa-times-circle"></i>
                        <p class="productError">Utilice el "." como separador decimal</p>
                    </div>
                </div>

                <div>
                    <select class="inputBusqueda-add" type="text" placeholder="Categoria" name="category" id="category">
                        <option value="" disabled selected>- Seleccione Categoría - </option>
                        <% categorias.forEach(categoria => { %>
                            <option value="<%= categoria.idCategory %>">
                                <%= categoria.name %>
                            </option>
                        <% }); %>
                    </select>
                    <!-- <p class="desc-pl">Categoria:</p>
                    <input class="inputBusqueda-prodlist" type="tel"  name="category" id="category" value="<%= promesaProducto.category %>"> -->
                </div>

                <br>
                <button class="botonEditar-2"> 
                    <input class="fa-solid fa-folder-plus" type="file" name="image" id="image">
                </button>
                
                <div><input type="submit" value="Confirmar Cambios" class="send-btn-register"></div>

            </form>
        </section>
    </main>

    <%- include('../partials/footer.ejs') %>
    <script src="/js/productsValidator.js"></script>
</body>
</html>